.principal {
  width: 1000px;
  justify-content: space-between;
  align-items: flex-start;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.return-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.return-link:visited {
  color: #e59827;
}

.material-symbols-outlined {
  color: #e59827;
}

.logo {
  max-width: 150px;
  height: auto;
  margin: 0;
}

.principal-title {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  margin: 20px 0px 0px 0px;
}

.filter-sales-subtitle,
.list-sales-subtitle {
  text-align: left;
  margin-top: 10px;
  width: 100%;
  font-weight: 700;
  font-size: 15px;
}

.filter-sales {
  width: 58%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.payment-list {
  width: 40%;
}

.filter-sales-form {
  width: 100%;
}

.filter-table {
  margin-top: 10px;
}

.filter-table,
.filter-table tbody {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.filter-table-tr {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5px;
}

.filter-table-label,
.filter-table-input {
  width: 100%;
  font-size: 14px;
}

.filter-table-input {
  margin-top: 5px;
}

#from-tr,
#to-tr,
#filter-tr,
#order-tr {
  width: 48%;
}

.filter-table-input input,
.filter-table-input select {
  width: 100%;
  outline: none;
  border: solid 1px #484847;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.filter-product-buttons,
.filter-product-buttons tbody,
.filter-product-buttons-tr {
  width: 100%;
  text-align: left;
  margin-top: 5px;
}

.filter-product-buttons-tr td {
  width: 100%;
  text-align: right;
}

.filter-product-button {
  background-color: #e59827;
  border-radius: 8px;
  border: none;
  width: 150px;
  padding: 5px;
  color: #fffeee;
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  margin-left: 1%;
}

.error-dates {
  color: red;
  margin-top: 5px;
}

.list-sales {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  margin-bottom: 10px;
  margin-top: 10px;
}

.list-sales table,
.payment-list table {
  margin-top: 10px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  border-left: 1px solid #8b8b8a;
  border-bottom: 1px solid #8b8b8a;
  border-right: 1px solid #8b8b8a;
}

.list-sales table thead {
  font-weight: 600;
}

.list-sales table thead tr th,
.payment-list table thead tr th {
  background-color: #e59827;
  padding: 5px;
  color: #fffeee;
  border-right: solid 1px #fffeee;
  vertical-align: middle;
}

.list-sales table thead tr th:last-child {
  border: none;
}

.list-sales table tbody {
  display: block;
  max-height: 200px;
  width: 100%;
  overflow-y: scroll;
}

.list-sales table thead,
.list-sales table tfoot,
.list-sales table tbody tr,
.payment-list table thead,
.payment-list table tfoot,
.payment-list table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.payment-list table thead tr th:last-child {
  border: none;
}

.list-sales-element {
  text-align: center;
  background-color: none;
  font-size: 14px;
  vertical-align: middle;
  padding: 5px;
}

.filter-table-l tbody tr:nth-child(2n) {
  background-color: #eeeeee;
}

.filter-table-l {
  font-size: 14px;
}

#th-aux {
  width: 2%;
}

#td-aux {
  width: 1%;
}

#code-th,
#code-td,
#aux1 {
  width: 7%;
  text-align: left;
}

#product-th,
#product-td,
#aux2 {
  width: 25%;
  text-align: left;
}

#brand-th,
#brand-td,
#aux3 {
  width: 13%;
  text-align: left;
}

#category-th,
#category-td,
#aux4 {
  width: 14%;
  text-align: left;
}

#units-th,
#units-td,
#aux5 {
  width: 6%;
  text-align: left;
}

#disc-th,
#disc-td,
#total-disc {
  width: 10%;
  text-align: left;
}

#nondisc-th,
#nondisc-td,
#total-nondisc {
  width: 10%;
  text-align: left;
}

#total-th,
#total-td,
#total-final {
  width: 14%;
  text-align: left;
}

#total-td {
  width: 12%;
}

.list-element-total-section {
  border-top: 2px solid #8b8b8a;
}

#aux1,
#aux2,
#aux3,
#aux4,
#aux5,
#total-disc,
#total-nondisc,
#total-final {
  font-weight: 800;
  padding: 5px;
}

#filtered_by_payment_method {
  width: 100%;
}

#filtered_by_payment_method tbody tr td {
  padding: 5px;
}

#category-th-c,
#category-td-c,
#aux1-c,
#brand-th-b,
#brand-td-b,
#aux1-b {
  width: 23%;
  text-align: left;
}

#units-th-c,
#units-td-c,
#aux2-c,
#units-th-b,
#units-td-b,
#aux2-b {
  width: 12%;
  text-align: left;
}

#disc-th-c,
#disc-td-c,
#total-disc-c,
#disc-th-b,
#disc-td-b,
#total-disc-b {
  width: 21%;
  text-align: left;
}

#nondisc-th-c,
#nondisc-td-c,
#total-nondisc-c,
#nondisc-th-b,
#nondisc-td-b,
#total-nondisc-b {
  width: 21%;
  text-align: left;
}

#total-th-c,
#total-td-c,
#total-final-c,
#total-th-b,
#total-td-b,
#total-final-b {
  width: 24%;
  text-align: left;
}

#total-td-c,
#total-td-b {
  width: 21%;
}

#aux1-c,
#aux2-c,
#total-disc-c,
#total-nondisc-c,
#total-final-c,
#aux1-b,
#aux2-b,
#total-disc-b,
#total-nondisc-b,
#total-final-b {
  font-weight: 800;
  padding: 5px;
}

#total-payments {
  font-weight: 800;
}

.filter-table-l {
  text-align: left;
}

.th-pm-1,
.th-pm-2,
.tf-pm-1,
.tf-pm-2,
.td-pm-1,
.td-pm-2 {
  width: 50%;
  padding: 5px;
  text-align: left;
}

.export-button {
  margin-top: 10px;
  margin-left: 0;
  width: 150px;
}
